/* style.css */

html, body {
  height: 100%;
}

body {
  margin: auto;
  display: flex;

  /* This centers sketch horizontally. */
  justify-content: center;

  /* This centers sketch vertically. */
  align-items: center;
}